[
    {ductus, [
        {source_host, "kafka-primary.acc"},
        {source_port, 9092},

        {redis_host, "127.0.0.1"},
        {redis_port, 6379},

        {handler_name, "kafka2file"},
        {periodic_period, 10000},
        {callback_module, kafka2file},
        {topics, [
         {"test", "/tmp/test_topic"}
        ]}
    ]}
].

